<ion-content scrollEvents="true" appAddClassToHeader>
  <app-header class="white-header"></app-header>

  <div class="ion-flex dashboard-design">
    <div class="dashboard-white">

      <div class="ion-flex ion-align-items-center ion-justify-content-between">
        <h4>My XML</h4>
      </div>

      <br >
      <br />

      <div class="copytoclipboard-wrap ion-position-relative ion-flex ion-algin-items-center">
        <div class="copytoclipboard-box">
          <img src='/assets/flyppxmllogo.png' alt="" />
          <ion-button color="success" shape="round" appCopyTextClipboard copy="/app">Copy XML Link</ion-button>
        </div>
        <div class="copytoclipboard-box">
          <img src='/assets/logo-proppit.svg' alt="" />
          <ion-button color="success" shape="round" appCopyTextClipboard copy="/app">Copy XML Link</ion-button>
        </div>
        <div class="copytoclipboard-box">
          <img src='/assets/logo-web-sites.png' alt="" />
          <ion-button color="success" shape="round" appCopyTextClipboard copy="/app">Copy XML Link</ion-button>
        </div>
      </div>
      <br >

      <div class="dark-text text-center">
        <p>Require a new XML format? Request one <a href="/app">here</a></p>
      </div>

      


    </div>
  </div>


</ion-content>