ion-content {
    .row-table {
        border-bottom: 1px solid #f1f1f1;

        ion-col {
            ion-avatar {
                text-align: center;
                line-height: 85px;
            }
        }
    }

    .row-table-heading {
        ion-col {
            padding: 10px;
        }
    }

    .table-design {
        ion-grid {
            --ion-grid-column-padding: 10px;
            border-collapse: collapse;
            border-style: hidden;

            ion-row:first-child {
                background-color: #2dd36f;
                font-weight: bold;
            }

            ion-col {
                border: 1px solid black;
                border-bottom: 0;
                border-right: 0;
            }

            ion-col:last-child {
                border-right: 1px solid black;
            }

            ion-row:last-child {
                border-bottom: 1px solid black;
            }
        }
    }
    
    .table-design {
        .table-header {
            padding: 10px 0;
            border-bottom: 1px solid #f1f1f1;
        }
    }
    .table-body {
        align-items: center;
        border-bottom: 1px solid #f1f1f1;
        ion-col {
            ion-avatar {
                display: flex;
                align-items: center;
            }
            ion-icon {
                margin-right: 10px;
            }
        }
    }
    .leads-dashbord {
        .filter-grid {
            margin-top: 50px;
        }
    }
    .margin-mx-5 {
        margin-left: 5px;
        margin-right: 5px;
    }
    .table.custom-table {
        thead {
            th {
                text-align: left;
                color: var(--ion-color-medium);
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: 1px solid #f1f1f1;
                border-top: 2px solid #00ccc2;
            }
        }
        tbody {
            tr:first-child {
                td {
                    border-top: 0;
                }
                
            }
            tr {
                td {
                    border-color: #f1f1f1;
                    .actions {
                        display: none;
                        align-items: center;
                        justify-content: start;
                        ion-icon {
                            cursor: pointer;
                        }
                    }
                }
                 
                td.name-col:hover {
                    .actions {
                        display: flex;
                    }
                }

            }
        }
    }
    
}
ion-modal {
    .title {
        display: block;
        font-size: 20px;
        text-align: center;
    }
    .psw-button {
        position: absolute;
        right: 5px;
        top: 12px;
        z-index: 10;
    }
    .ion-color-medium {
        --ion-color-contrast: unset !important;
    }
}
.d-none {
    display: none;
}
.error {
    color: #ff4961;
    margin-top: 3px !important;
    display: block;
}
