ion-grid {
    ion-row {
        ion-text.h4 {
            font-size: 18px;
        }
    }
}
.filter-header {
    padding: 16px;
    border-bottom: 1px solid #eee;
    
}
ion-modal {
    .form-container {
        padding: 0 16px;
    }
    .round-3 {
        display: flex;
        width: 100%;
        box-shadow: rgb(233 236 241) 0px 0px 0px 1px inset;
        border-radius: 22px;
        ion-radio {
            display: none;
        }
        .custom-item {
            display: flex;
            flex: 1 1 0%;
            -webkit-box-pack: center;
            justify-content: center;
            margin: 0px;
            padding: 10px 16px;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;
            color: rgb(52, 61, 66);
            border: 1px solid transparent;
            border-radius: 22px;
            background: none;
            user-select: none;
            appearance: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-smoothing: subpixel-antialiased;
            cursor: pointer;
        }
        .custom-item.active {
            display: flex;
            flex: 1 1 0%;
            -webkit-box-pack: center;
            justify-content: center;
            margin: 0px;
            padding: 10px 16px;
            font-size: 13px;
            line-height: 20px;
            border: 1px solid rgb(0, 23, 59);
            border-radius: 22px;
            user-select: none;
            appearance: none;
            -webkit-tap-highlight-color: transparent;
            -webkit-font-smoothing: subpixel-antialiased;
            cursor: pointer;
            font-weight: 500;
            color: rgb(0, 23, 59);
            background: rgb(247, 247, 247);
        }
    }

    ion-checkbox {
        margin: 0;
        margin-right: 5px;
    }
}
ion-content {
    h1, h2, h3, h4, h5, h6, p, div, span, a, ion-item, ion-button {
        font-family: 'GTEestiProDisplay-Bold';
    }
    .dashboard-white {
        flex: 1;
        background-color: #fff;
        padding-top: 30px;
        padding-left: 50px;
        padding-right: 45px;
        .filter {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
        
    .table.custom-table {
        thead {
            th {
                text-align: left;
                color: var(--ion-color-medium);
                padding-top: 15px;
                padding-bottom: 15px;
                border-bottom: unset;
                border-top: unset;
            }
            th:first-child {
                padding-left: 3px;
            }
        }
        tbody {
            tr.item-row {
                cursor: pointer;
                td {
                    vertical-align: middle;
                }
            }
            tr:first-child {
                td {
                    border-top: 0;
                }
                
            }
            tr {
                td {
                    border-color: #f1f1f1;
                    a {
                        text-decoration: none;
                        color: #222;
                    }
                    .listing-td {
                        .image {
                            width: 45px;
                            height: 45px;
                            border-radius: 6px;
                            margin-right: 20px;
                            img {
                                border-radius: 6px;
                                height: 100%;
                                object-fit: cover;
                                width: 100%;
                            }
                        }
                        .listing-info {
                            flex: 1;
                            h5 {
                                margin: 0;
                                font-size: 16px;
                                max-width: 95%;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                white-space: nowrap;
                                width: 200px;
                            }
                            p {
                                margin: 0;
                                span {
                                    color: #777;
                                    font-size: 12px;
                                    font-family: 'GTEestiProDisplay-Regular';
                                }
                            }
                        }
                    }
                    .actions {
                        display: none;
                        align-items: center;
                        justify-content: start;
                        ion-icon {
                            cursor: pointer;
                        }
                    }
                    .duration {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        flex-wrap: wrap;
                        font-family: "GTEestiProDisplay-Regular";
                    }

                    ion-select.blue {
                        background: rgb(66, 64, 222);
                        border-radius: 20px;
                        color: #fff;
                        padding: 5px 3px;
                    }

                    ion-select.green {
                        background: #00ccc2;
                        border-radius: 20px;
                        color: #fff;
                        padding: 5px 3px;
                    }
                    ion-select.light-green {
                        background: #3bbfba;
                        border-radius: 20px;
                        color: #fff;
                        padding: 5px 3px;
                    }

                    ion-select.light-gray {
                        background: #dedede;
                        border-radius: 20px;
                        color: #222;
                        padding: 5px 3px;
                    }
                }
                
                td.listing-type {
                    h5 {
                        margin: 0;
                        font-size: 14px;
                    }
                    p {
                        margin: 0;
                        color: #777;
                        font-size: 12px;
                        font-family: 'GTEestiProDisplay-Regular';
                    }
                }
                 
                td.name-col:hover {
                    .actions {
                        display: flex;
                    }
                }
                td.last-column {
                    position: relative;
                    .action-edit {
                        position: absolute;
                        right: 5px;
                        top: 20px;
                        display: none;
                        width: 20px;
                        height: 20px;
                        background: #dedede;
                        align-items: center;
                        justify-content: center;
                        border-radius: 100%;
                        ion-icon {
                            font-size: 14px;
                            color: #fff;
                        }
                    }
                }
                &:hover {
                    td.last-column {
                        .action-edit {
                            display: flex;
                        }
                    }
                }
            }
        }
    }
    
}

ion-popover {
    --width: 450px !important;
    max-width: 100%;
}

ion-chip+ion-chip {
    margin-left: 20px;
}
.round-box {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid #f1f1f1;
    text-align: center;
    cursor: pointer;
    position: relative;
    ion-checkbox {
        width: 100%;
        position: absolute;
        height: 100%;
        left: 0;
    }
}
.round-box.active {
    border: 1px solid #00ccc2;
}
.round-box+.round-box {
    margin-left: 5px;
}
.success-box {
    padding: 5px 20px;
    background-color: #e7fef8;
}
app-header {
    background: #fff;
}