<app-header ></app-header>
<ion-content>
  <div class="main-content">

    <div class="leads-dashbord">
      <ion-grid class="filter-grid">
        <ion-row class="ion-flex ion-align-items-center">
          <ion-col size="8">
            <ion-text class="h2 ion-text-uppercase">Organizations</ion-text>
          </ion-col>


          <ion-col size="4" class="ion-text-right">
            <ion-button (click)="addNew()" shape="round" color="success" class="ion-text-capitalize">
              <ion-icon name="add-outline"></ion-icon>
              Add Organization
            </ion-button>
          </ion-col>

        </ion-row>
      </ion-grid>



      <br />

      <ion-grid>
        <ion-row>
          <ion-col size="8"></ion-col>
          <ion-col size="4">

            <ion-item fill="outline" color="medium">
              <ion-input placeholder="Search..." (ionInput)="searchQuery($event)"></ion-input>
              <ion-icon name="search-outline" slot="end" color="success"></ion-icon>
            </ion-item>


          </ion-col>

        </ion-row>
      </ion-grid>
      <br />

      <table class="table custom-table">
        <thead>
          <tr>
            <th>Organization</th>
            <th>Website</th>
            <th>Active</th>
            <th>Master Feed Thai Prop.</th>
            <th>Master Feed DD Prop.</th>
            <th>Master Feed Hipflat Prop.</th>
          </tr>
        </thead>
        <tbody *ngIf="lists && lists.length > 0">
          <tr *ngFor="let item of lists| paginate: { itemsPerPage: 10, currentPage: p, totalItems: total }">

            <td class="name-col">
              <ion-text>{{item.name}}</ion-text>
              <div class="actions">
                <div class="edit" title="Edit" (click)="editRow(item.id)">
                  <ion-icon name="create-outline" color="primary" slot="icon-only" [iconTitle]="'Edit'"
                    appRemoveIconTitle></ion-icon>
                </div>
                <!-- <div class="del" title="Delete" (click)="deleteRow(item.staffid)">
                  <ion-icon name="trash-outline" color="danger" slot="icon-only" [iconTitle]="'Delete'"
                    appRemoveIconTitle></ion-icon>
                </div> -->
              </div>
            </td>
            <td>
              <ion-text>{{item.website}}</ion-text>
            </td>
            <td>
              <ion-checkbox slot="start" [checked]="item.active=='1'?true:false" (click)="changeStatus('active')">
              </ion-checkbox>
            </td>
            <td>
              <ion-checkbox slot="start" [checked]="item.master_feed=='1'?true:false" (click)="changeStatus('thai')">
              </ion-checkbox>
            </td>
            <td>
              <ion-checkbox slot="start" [checked]="item.master_feed_dd=='1'?true:false" (click)="changeStatus('dd')">
              </ion-checkbox>
            </td>
            <td>
              <ion-checkbox slot="start" [checked]="item.master_feed_hipflat=='1'?true:false"
                (click)="changeStatus('hip')"></ion-checkbox>
            </td>


          </tr>



        </tbody>
        <tbody *ngIf="lists && lists.length == 0">
          <tr>
            <td colspan="6">No records found</td>
          </tr>
        </tbody>
      </table>

      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-between">
          <ion-col>
            <div *ngIf="lists && lists.length > 0">
              Showing of {{p * limit - 9}} to {{p * limit}} of {{total}}

            </div>
          </ion-col>
          <ion-col class="ion-flex ion-justify-content-end">
            <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="pageChangeEvent($event)"
              *ngIf="lists && lists.length > 1">
            </pagination-controls>
          </ion-col>
        </ion-row>
      </ion-grid>




      <br />
      <br />

    </div>





  </div>




</ion-content>


<!-- add/edit modal -->

<ion-modal class="user-form-modal height-0" [isOpen]="isModalOpen" (willDismiss)="onWillDismiss($event)">

  <ng-template class="ion-padding">

    <div class="close-btn-listing ion-text-right" id="closeFormModel" (click)="closeModel()">
      <ion-icon name="close-outline"></ion-icon>
    </div>

    <ion-text class="title">Add Organization</ion-text>

    <form [formGroup]="orgForm" (ngSubmit)="submitForm()">

      <ion-grid>



        <ion-row>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Name</ion-label>
              <ion-input formControlName="name" type="text" placeholder="Name"></ion-input>
            </ion-item>
            <span class="error" *ngIf="isSubmitted && errorControl.name.errors?.required">
              Name is required.
            </span>
          </ion-col>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Phone</ion-label>
              <ion-input formControlName="o_phone" type="tel" placeholder="Phone"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Website</ion-label>
              <ion-input formControlName="website" type="url" placeholder="Website"></ion-input>
            </ion-item>
            
          </ion-col>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Active</ion-label>
              <ion-select formControlName="active" placeholder="Select...">
                <ion-select-option value="1">Yes</ion-select-option>
                <ion-select-option value="0">No</ion-select-option>
              </ion-select>
            </ion-item>
            
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Master Feed</ion-label>
              <ion-select formControlName="master_feed" placeholder="Select...">
                <ion-select-option value="1">Yes</ion-select-option>
                <ion-select-option value="0">No</ion-select-option>
              </ion-select>
            </ion-item>
            
          </ion-col>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Master Feed DD Property</ion-label>
              <ion-select formControlName="master_feed_dd" placeholder="Select...">
                <ion-select-option value="1">Yes</ion-select-option>
                <ion-select-option value="0">No</ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Master Feed Hipflat Property</ion-label>
              <ion-select formControlName="master_feed_hipflat" placeholder="Select...">
                <ion-select-option value="1">Yes</ion-select-option>
                <ion-select-option value="0">No</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Type</ion-label>
              <ion-select formControlName="o_type" placeholder="Select...">
                <ion-select-option value="franchise">Franchise</ion-select-option>
                <ion-select-option value="developer">Developer</ion-select-option>
              </ion-select>
            </ion-item>
            
          </ion-col>

        </ion-row>


        <ion-row>
          <ion-col>
            <ion-item fill="outline" color="medium">
              
              <ion-label position="floating">Projects</ion-label>
              <ionic-selectable

                  formControlName="c_project_id"
                  [items]="buildings_d"
                  itemValueField="id"
                  itemTextField="name"
                  [canSearch]="true"
                  (onChange)="buildingChange($event)"
                  (onSearch)="searchBuildings($event)"
                  >
              </ionic-selectable>

              
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Province</ion-label>
              <ion-select formControlName="province" placeholder="Select..." (ionChange)="districts($event)">
                <ion-select-option [value]="opt.name" *ngFor="let opt of provinces_d">{{opt.name}}</ion-select-option>
              </ion-select>
            </ion-item>
            
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">District</ion-label>
              <ion-select formControlName="district" placeholder="Select...">
                <ion-select-option [value]="opt.name" *ngFor="let opt of districts_d">{{opt.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item fill="outline" color="medium">
              <ion-label position="floating">Lead auto response</ion-label>
              <ion-select formControlName="o_lead_auto_response" placeholder="Select...">
                <ion-select-option value="1">On</ion-select-option>
                <ion-select-option value="0">Off</ion-select-option>
              </ion-select>
            </ion-item>
            
          </ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label position="floating" class="ion-block">Color</ion-label>
            <input formControlName="o_color" type="color" class="color-input" />
            
          </ion-col>
          <ion-col></ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label position="floating">Logo</ion-label>
            <ion-input formControlName="logo_image" type="file" (change)="onLogoInput($event)"></ion-input>

            <div class="ion-margin-top" *ngIf="logo_image_url">
              <img [src]="logo_image_url" alt="" width="100px" />
            </div>

          </ion-col>
          <ion-col></ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label position="floating">Light Logo</ion-label>
            <ion-input formControlName="light_logo_image" type="file" (change)="onLightLogoInput($event)"></ion-input>
            <div class="ion-margin-top" *ngIf="light_logo_image_url">
              <img [src]="light_logo_image_url" alt="" width="100px" />
            </div>
          </ion-col>
          <ion-col></ion-col>

        </ion-row>

        <ion-row>
          <ion-col>
            <ion-label position="floating">Dark Logo</ion-label>
            <ion-input formControlName="dark_logo_image" type="file" (change)="onDarkLogoInput($event)"></ion-input>
            <div class="ion-margin-top" *ngIf="dark_logo_image_url">
              <img [src]="dark_logo_image_url" alt="" width="100px" />
            </div>
          </ion-col>
          <ion-col></ion-col>

        </ion-row>



      </ion-grid>

      <br />
      <br />
      <div class="text-center">
        <ion-button shape="round" type="submit" class="login-btn">Submit</ion-button>
      </div>



    </form>

  </ng-template>

</ion-modal>

<!-- delete modal -->
<ion-modal class="dialog-modal height-0" [isOpen]="isModalOpenDelete" (willDismiss)="onWillDismissDelete($event)">

  <ng-template class="ion-padding">

    <div class="close-btn-listing ion-text-right" id="deleteUser" (click)="closeModelDelete()">
      <ion-icon name="close-outline"></ion-icon>
    </div>

    <ion-text class="title">Delete Organization</ion-text>

    <ion-grid>



      <ion-row>

        <ion-col>
          <ion-text color="medium">Are you sure, you want to delete this organization?</ion-text>
          

        </ion-col>

      </ion-row>

    </ion-grid>

    <br />
    <br />
    <div class="text-center">
      <ion-button shape="round" type="button" (click)="confirmDelete()" class="login-btn">Confirm</ion-button>
    </div>


  </ng-template>

</ion-modal>