ion-content {

    .dashboard-design {
        flex-direction: row;
        height: auto;
        .dashboard-left {
            width: 58%;
            padding-top: 30px;
            padding-left: 50px;
            padding-right: 45px;
            h1 {
                max-width: 200px;
                line-height: 1.5;
                color: #201f32;
                margin-bottom: 0;
            }
        }
        .dashboard-right {
            padding-top: 30px;
            background-color: #fff;
            position: relative;
            padding-right: 40px;
            padding-left: 40px;
            width: 42%;
        }
        .success-custom-btn {
            --box-shadow: unset;
            text-transform: capitalize;
        }
        .break-text-line {
            width: 100%;
            max-width: 450px;
            text-align: left;
        }

        .small-white-boxes {
            position: relative;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
            grid-gap: 20px;
            .box {
                background-color: #fff;
                padding: 15px;
                text-align: center;
                border-radius: 8px;
                .count {
                    font-weight: bold;
                    font-size: 18px;
                }
                .name {
                    font-weight: 600;
                    font-size: 12px;
                    color: #787878;
                    margin-top: 10px;
                }
            }
        }
        .ion-flex-left {
            flex: 5;
        }
        .ion-flex-right {
            flex: 1;
            
            .ion-column {
                flex-direction: column;
                align-items: center;
                justify-content: center;
            }
            .transaparent-box {
                text-align: center;
                margin-bottom: 15px;
                position: relative;
                .count {
                    font-size: 20px;
                    font-weight: bold;
                }
                .name {
                    font-size: 12px;
                    color: #777;
                }
                .badge-orange {
                    position: absolute;
                    right: 5px;
                    width: 5px;
                    height: 5px;
                    background: #453ee1;
                    border-radius: 50%;
                }
                .badge-cyan {
                    position: absolute;
                    right: 0;
                    width: 5px;
                    height: 5px;
                    background: #3abfba;
                    border-radius: 50%;
                }
            }
        }

        h5 {
            font-weight: bold;
            font-size: 17px;
        }
        

    }
    
    
    .day-wrap {
        width: 60px;
        line-height: 1.7;
        cursor: pointer;
        .day-name {
            color: #b2b2b2;
        }
        .day-num {
            color: #201f32;
            font-weight: bold;
        }
    }
    
    
    .ion-slider-wrap {
        position: relative;
        .boxes {
            display: flex;
            height: 100%;
            position: absolute;
            right: -27px;
            flex-wrap: nowrap;
            .dbox {
                background-repeat: no-repeat !important;
                background-size: 100% !important;
                background-position: bottom;
                position: relative;
                border-radius: 6px;
                height: 100%;
                a {
                    color: #222;
                    text-align: center;
                    font-size: 17px;
                    text-decoration: none;
                    display: block;
                    margin-top: 20px;
                    font-family: 'GTEestiProDisplay-Bold', 'arial', sans-serif;
                    font-weight: 500;
                }
            }
            .dbox+.dbox {
                margin-left: 20px;
            }
            .dbox.help {
                background-color: #f5fafd;
            }
            .dbox.deal {
                background-color: #12172a;
                a {
                    color: #fff;
                }
            }
            .dbox.track {
                background-color: #ecf4f8;
            }
        }
    }
    .slider-nav {
        background: #000;
        color: #fff;
        width: 25px;
        height: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        ion-icon {
            font-size: 12px;
        }
    }
    ion-slide.swiper-slide-active {
        .day-num {
            color: #3abfba;
        }
    }

    .events-list {
        max-height: 350px;
        overflow-y: auto;
        ion-list {
            ion-item {
                --padding-start: 0;
                .icon-box {
                    width: 50px;
                    height: 50px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #777;
                    margin-right: 20px;
                    border-radius: 10px;
                    img {
                        width: 100%;
                        height: 100%;
                        border-radius: 10px;
                    }
                }
                .icon-box.bg-orange {
                    background: #fbead7;
                }
                .icon-box.bg-greenish {
                    background: #e6f2de;
                }
                h3 {
                    color: #201f32;
                    font-size: 16px;
                }
                ion-label {
                    div {
                        color: #a1a1a1;
                    }
                }
                span {
                    color: #a1a1a1;
                }
            }
        }
    }

    .box {
        border: 1px solid #f1f1f1;
        padding: 20px;
        border-radius: 8px;
        .box-inner {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            .box-icon {
                padding: 25px 13px;
                background-color: #e3fff6;
                border-radius: 4px;
                margin-right: 30px;
                ion-icon {
                    font-size: 24px;
                }
            }
            
            .box-top-text {
                font-size: 30px;
            }
            .box-bottom-text {
                font-size: 18px;
            }
        }
        
    }
    .row-table {
        border-bottom: 1px solid #f1f1f1;
        ion-col {
            ion-avatar {
                text-align: center;
                line-height: 85px;
            }
        }
    }
    ion-grid {
        padding-top: 0;
        .dashboard-left-wrap {
            padding: 20px 20px 20px 0px;
        }
    }
    .statistics-box {
        position: relative;
        border-bottom: 1px solid #f1f1f1;
        .statistics-box-inner {
            min-height: 150px;
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            
            .h3 {
                font-size: 36px;
            }
        }
    }
    apx-chart {
        display: block;
        
    }
    .lead-chart-box {
        position: relative;
        .chart-filter {
            position: relative;
            top: 30px;
            left: 30%;
            ion-text+ion-text {
                margin-left: 15px;
            }
        }
    }
    .latest-leads-box {
        .latest-leads-inner {
            .title-1 {
                font-size: 20px;
            }
            .latest-grid {
                margin-top: 20px;
                ion-row {
                    padding: 10px 0;
                    border-bottom: 1px solid #f1f1f1;
                    ion-col {
                        align-items: center;
                        justify-content: flex-start;
                        display: flex;
                        ion-icon {
                            font-size: 12px;
                        }
                    }
                }
                
            }
        }
    }
    
    
}
.calendar-section {
    ion-select {
        font-weight: bold;
        font-size: 17px;
        padding-left: 0;
    }
    ion-select::part(icon) {
        display: none;
    }
}
#SvgjsG1095 {
    display: none !important;
}
.tertiary {
    .box-icon {
        background-color: #f3edff !important;
    }
}
.light {
    background-color: #f1f1f1;
    .box-icon {
        background-color: #fff !important
    }
}
ion-popover {
    --width: 450px !important;
    max-width: 100%;
}
ion-chip+ion-chip {
    margin-left: 30px;
}
ion-searchbar {
    max-width: 100%;
    width: 100%;
    --box-shadow: unset;
    --background: transparent;
    position: relative;
    margin-top: -80px;
}

